{$SITE_ADDRESS::80} {
    request_body {
        max_size 82MB
    }
    handle /api/* {
        reverse_proxy api:8102
    }
    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
